@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine_Regular.ttf);
}

@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata-Regular.ttf);
}

.navbar{

    border-radius: 0;
    border-width: 0;
    margin-bottom: 0;

}

.nav-not-stacked{
    margin-bottom: 23px !important;
}
.navbar-inverse .navbar-nav > li > a{
   font-size: 1.4em;
}

#banner{
    height: 500px;
}

.navbar-inverse .navbar-nav > li.active > a{
    background-color: #122b40;

}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    //height: 150px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}


.thumbnail {
    padding: 0;
    border-width: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 20px 0;

}
#footer {
   /* height: 250px;*/

}

#content{
    margin-bottom: 30px;
}


#social_icons{
    margin-top: 40px;
    font-size: 40px;
}


#footer a:hover{
    color: #888888;
    text-decoration: none;
}

